@model OgrenciYonetimSistemi.Models.Helper.Service.DersListesi
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/BootstrapChat.css" rel="stylesheet" />

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Mesajlar</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <section class="col-lg-12 connectedSortable">

                    <!-- DIRECT CHAT -->
                    <div class="card direct-chat direct-chat-primary">
                        <div class="card-header">
                            <h3 class="card-title">Yazışmalarım</h3>
                            <div class="card-tools">
                                <span title="3 New Messages" class="badge badge-primary">3</span>
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>

                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>


                            </div>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Adı</th>
                                        <th scope="col">Grup No</th>
                                        <th scope="col">Kredi Sayısı</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Dersler)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.DersinAdi</td>
                                            <td>@item.GroupNo</td>
                                            <td>@item.KrediSayisi</td>
                                        </tr>
                                    }


                                </tbody>
                            </table>


                        </div>

                    </div>

                </section>

            </div>

        </div>
    </section>

</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#searchPeople").keyup(function () {
                myFunction();
            })
        });

        function myFunction() {
            var input, filter, mylist, txtValue;

            input = $("#searchPeople");
            filter = input.val().toUpperCase();
            mylist = $("#plist ul")[0];

            $("li .name", mylist).each(function (i, e) {
                if ($(this)) {
                    txtValue = $(this).text().toUpperCase();
                    if (txtValue.indexOf(filter) > -1) {
                        $("li", mylist)[i].style.display = "";
                    } else {
                        $("li", mylist)[i].style.display = "none";
                    }
                }
            })
        }
    </script>
}
