
@model OgrenciYonetimSistemi.Models.Helper.ChatDetayGetir
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/BootstrapChat.css" rel="stylesheet" />

@Html.Hidden("MesajDetayiIstenilenUye_Id", ViewData["MesajDetayiIstenilenUye_Id"])

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <section class="col-lg-12 connectedSortable">

                    <!-- DIRECT CHAT -->
                    <div class="card direct-chat direct-chat-primary">
                        <div class="card-header">
                            <h3 class="card-title">Yazışmalarım</h3>

                            <div class="card-tools">
                                <span title="3 New Messages" class="badge badge-primary">3</span>
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>

                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>


                            </div>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <div class="container">
                                <div class="row clearfix">
                                    <div class="col-lg-12">

                                        <div class="container">
                                            <h3 class=" text-center">Yazışmalarım</h3>

                                            <div class="messaging">
                                                <div class="inbox_msg">
                                                    <div class="inbox_people">
                                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                            <li class="nav-item">
                                                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#sohbetGecmisi" role="tab" aria-controls="sohbetGecmisi" aria-selected="true">Yazışmalar</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#yeniMesaj" role="tab" aria-controls="yeniMesaj" aria-selected="false">Yeni Mesaj</a>
                                                            </li>

                                                        </ul>
                                                        <div class="tab-content" id="myTabContent">
                                                            <div class="tab-pane fade show active" id="sohbetGecmisi" role="tabpanel" aria-labelledby="sohbetGecmisi-tab">

                                                                <div class="headind_srch">
                                                                    <div class="recent_heading">
                                                                        <h4>Sohbet Geçmişi</h4>
                                                                    </div>
                                                                    <div class="srch_bar">
                                                                        <div class="stylish-input-group">
                                                                            <input type="text" class="search-bar" placeholder="Search" id="sohbetGecmisiAra">
                                                                            <span class="input-group-addon">
                                                                                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="inbox_chat sohbetGecmisiListe">

                                                                    @*chat listesi refresh*@






                                                                </div>
                                                            </div>
                                                            <div class="tab-pane fade" id="yeniMesaj" role="tabpanel" aria-labelledby="yeniMesaj-tab">

                                                                <div class="headind_srch">
                                                                    <div class="recent_heading">
                                                                        <h4>Yeni Mesaj</h4>
                                                                    </div>
                                                                    <div class="srch_bar">
                                                                        <div class="stylish-input-group">
                                                                            <input type="text" class="search-bar" placeholder="Search" id="yeniMesajAra">
                                                                            <span class="input-group-addon">
                                                                                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                                <div class="inbox_chat yeniMesajListe">
                                                                    @foreach (var item in Model.YeniMesajKullaniciListesi)
                                                                    {
                                                                        <div class="chat_list" id="@item.Kullanici_Id">
                                                                            <div class="chat_people">
                                                                                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                                                                <div class="chat_ib">
                                                                                    <h5>@item.AdiSoyadi </h5>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    }




                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="mesgs">
                                                        <div class="msg_history">

                                                            <div class="alert alert-info" role="alert">
                                                                Yazışmak istediğiniz kişiyi seçiniz.
                                                            </div>
                                                            @*chat detay*@


                                                        </div>
                                                        <div class="type_msg" style="margin-top:20px;">
                                                            <div class="input_msg_write">
                                                                <input type="text" class="write_msg" placeholder="Type a message" />

                                                                <button class="msg_send_btn" type="button">
                                                                    <i class="fas fa-paper-plane"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>

                </section>

            </div>

        </div>
    </section>

</div>


@section scripts{

    <script src="~/Scripts/CustomScripts/Mesajlar.js"></script>

}

